@mixin btn-style($bg-color){
    background-color: $bg-color;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
    cursor: pointer;
    outline: none;
}